*{
    margin: 0%;
   padding: 5px;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom right,rgb(23, 127, 192),rgb(249, 3, 249)); */
     background: url(../macbook.jpg);
    background-size: cover;
    min-height: 100vh;
    padding: 20px;
    backdrop-filter: blur(3px);
}

.container{
    width: 400px;
    max-width: 100%;
    padding: 10px;
    background-color: rgb(61, 61, 70, 60%);
    backdrop-filter: blur(5px);
    border: 2px solid rgb(69, 77, 77);
    border-radius: 10px;
    text-align: center;
}
.Login{
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: bold;
}
.items{
    background: transparent;
    padding: 10px;
    width: 100%;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

}
.info{
    background: none;
    color:  azure;
    border: none;
    outline: none;
    padding-right: 150px;
}

.info::placeholder{
    color: azure;
}

.forgot{
    text-align: left;
    margin-bottom: 25px;
}

.forgot a{
    text-decoration: none;
    color:  azure;
    transition: all 0.5s ease-out;
    color:  azure;
}

.forgot a:hover{
    color: red;
    text-decoration: underline;
}
.log_btn{
    background: black;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    color: azure;
    font-weight: bold;
    border: 1px solid azure;
    transition: all 0.5 ease-out;
}

.log_btn:hover{
    background: #fff;
    color: rgb(0, 0, 0);
    border:2px solid #000;
    text-decoration: underline;
}
 .formlink{
    color: azure;
 }

.link{
    color: azure;
}
.relink{
    margin-left: 5px;
    color: azure;
    text-decoration: none;
}
.relink:hover{
    text-decoration: underline;
    color: red;
    transition: all 0.5 ease-out;
}